.nbrbtn {
    background-color: darkorange;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    font-family: fantasy;
}

.oprbtn {
    background-color: blue;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    font-family: fantasy;
    
}

.eqlbtn {
    background-color: green;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    font-family: fantasy;
}

.clrbtn {
    background-color: red;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    font-family: fantasy;
}

#numberField{
    width: 99%;
    height: 45px;
    text-align: right;
    font-family: monospace;
    background-color: dimgray;
    border: 2px solid;
    border-color: black;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-family: fantasy;
    font-family: fantasy;

}

table{
    border: 3px solid;
    border-color: yellowgreen;
    background-color: silver;
    border-radius: 10px;
    margin-top: 250px;
}

.inputField{
    height: 50px;
    width: 100%;
}

.nbrbtn:hover {
    color: orange;
    background-color: orangered;
}

.oprbtn:hover{
    color: dodgerblue;
    background-color: darkblue;
}

.eqlbtn:hover{
    color: lawngreen;
    background-color: darkolivegreen;
}

.clrbtn:hover{
    color: indianred;
    background-color: darkred;
}
